#detail-upper-container {
	width: 850px;
	height: 310px;
}

#detail-full-width p {
	margin: 0;
}

#detail-title {
	width: 850px;
	height: 50px;
	display: table;
}

#detail-title div {
	height: 100%;
}


#detail-title div p {
	float: left;
	font-size: 25px;
	margin-left: 10px;
	color: #FFFFFF;
}

#detail-titleContent{
	padding-top: 10px;

}

#detail-cat{
	float: left;
	background: url("../../img/cat.png");
	height: 50px !important;
	width: 50px;
	background-size: contain;
	cursor: pointer;
}

#detail-cat:hover {
	background: url("../../img/cathover.png");
	-webkit-transition: ease .2s;
	height: 50px;
	width: 50px;
	background-size: contain;
	cursor: pointer;
	background-repeat: no-repeat;
}

#detail-upper-content {
	width: 850px;
	height: 220px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#detail-schoolLogoContainer{
	float: left;
	width: 180px;
	height: 180px;
	padding-left: 10px;
}

#detail-schoolLogo {
	position: absolute;
	width: 150px;
	height: 150px;
	margin-top: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../../img/school.png);
	-moz-opacity: 0.20;
	opacity: 0.20;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=20);
}


#calendar-holder {
	float: left;
	padding-left: 40px;
	height: 180px;
	width: 300px;
	text-align: center !important;
	-moz-opacity: 0.90;
	opacity: 0.90;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
}

.fc-day-number {
	position: absolute;
	padding-left: 12px !important;
	padding-top: 5px !important;
	text-align: center;
}

#detail-price-sex {
	float: right;
	height: 200px;
	width: 250px;
}

#detail-priceContainer {
	height: 110px;
	width: 250px;
}

#detail-totalPrice {
	width: 250px;
	font-size: 70px;
	color: #FFFFFF;
	text-align: center;
}

#detail-totalPrice  span{
	font-size: 40px;
}

#detail-dividedPrice {
	width: 250px;
	color: #FFFFFF;
	text-align: center;
}

#detail-price-sex img {
	height: 70px;
	display: block;
	margin-left: auto;   
	margin-right: auto;
	float: right;
	padding-right: 30px;
}

#detail-lower-container {
	width: 850px;
	height: 600px;
	background: url("../../img/backg.png");
	-moz-box-shadow:    0px -5px 15px 1px #222;
	-webkit-box-shadow: 0px -5px 15px 1px #222;
	box-shadow:         0px -5px 15px 1px #222;

}

#detail-lower-title {
	width: 850px;
	height: 50px;
	padding-top: 10px;
	display: table;
}

#detail-lower-title > p {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
	padding-left: 15px;

	color: #A0A0A0;
	font-size: 40px;
	margin-right: 10px;
	vertical-align: bottom;
	display: inline-block;
}

#detail-submit-button {
	float: right;
	font-family: main, Verdana, serif;
	background: #80a9da;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(#80a9da,0),color-stop(#6f97c5,1));
	background: -webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background: -moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background: -o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	background: linear-gradient(top, #80a9da 0%, #6f97c5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
	margin-top: 10px;
	margin-right: 20px;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 20px;
	height: 33px;
	position: relative;
	border: 1px solid #5d81ab;
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	-moz-box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	clear: both;
	overflow: hidden;
	font-size: 10px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	color: #335e90;
	overflow: hidden;
	text-align: center;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: linear;
}

#detail-submit-button:hover{
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: main, Verdana, serif;
	overflow-x: hidden;
	overflow-y: hidden;
	text-shadow: rgb(93, 129, 171) 0px 1px 1px;
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
	cursor: pointer;
}

#detail-submit-button p {
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	font-size: 200%;
}

#detail-lower-title img {
	float: right;
	height: 100%;
}

#detail-lower-content {
	width: 850px;
	height: 300px;
	position: relative;
}

#detail-contactInfoContainer {
	float: left;
	height: 300px;
	width: 270px;
	padding-top: 20px;
	padding-left: 20px;
}

#detail-contactInfoContainer p{
	padding-left: 10px;
	width: 190px;
	height: 20px;
	font-weight:bold;
	overflow: hidden;
}

.detail-contactInfo-entry{
	line-height: 20px;
	font-size: 12px;
	font-weight:normal !important;
	min-width: 285px;
}

#detail-content {
	position: absolute;
	height: 450px;
	width: 450px;
	padding: 10px;
	word-wrap:break-word;
	font-family: main, Verdana, serif;
	font-size: 18px;
	border: solid 3px rgb(185, 185, 185);
	top: 20px;
	left: 330px;
	overflow: auto;
}

#detail-content pre{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#detail-submitContainer {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 250px;
	height: 100px;
}

#detail-submit-passwordContainer {
	background-color: #DCDCDC;
	visibility: hidden;
	display: table;
	position: relative;
	height: 40%;
	width: 100%;
}

#detail-submit-password {
	position: absolute;
	width: 80%;
	top: 0;
	bottom: 0;
	left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#detail-submit-password-button{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 16%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
}

#detail-submit-errorContainer {
	background-color: #DCDCDC;
	visibility: hidden;
	width: 100%;
	height: 40%;
	margin-top: 10px;
	display: table;
	background-color: #CC0000;
}

#detail-submit-errorContainer p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
} 

