.help-ask-upper-container {
	width: 850px;
	height: 300px;
}

.help-ask-header {
	width: 100%;
	height: 15%;
}

.help-ask-title {
	float: left;
	color: #FFFFFF;
	height: 100%;
	font-size: 40px;
}

.help-ask-catContainer {
	margin-right: 10px;
	float: left;
	background: url("../../img/cat.png");
	height: 50px;
	width: 50px;
	background-size: contain;
	cursor: pointer;
}

.help-ask-catContainer:hover {
	background: url("../../img/cathover.png");
	-webkit-transition: ease .2s;
	background-size: contain;
}

.help-ask-catContainer img {
	height: 100%;
	cursor: pointer;
}

.help-ask-createContainer {
	height: 50%;
	width: 48%;
	margin-top: 5%;
	margin-left: 3%;
	background-image: url("../../img/metal.png");
	background-size: cover;
    vertical-align: bottom;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 110%;
    padding-top: -5px;
}

.help-ask-row {
	height: 20%;
	margin-bottom: 2.5%;
}

.help-ask-row span {
	-moz-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
}

.help-ask-input-location {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #A6A6A6;
	width: 80%;
	height: 70%;
	cursor: pointer;
	background-color: #FFFFFF;
	font-weight: normal;
}

#help-input-content {
	position: relative;
	border: 1px solid #A6A6A6;
	width: 70%;
	height: 70%;
	top: -3px;
}

.help-ask-input-datePicker {
	width: 35%;
	font-size: 90%;
}

#ask-input-gender {
	margin-left: 5px;
	width: 80px;
	font-size: 100%;
	border-color:#999;
}

#help-input-gender {
	margin-left: 5px;
	width: 130px;
	font-size: 100%;
	border-color:#999;
}

.help-ask-input-price {
	width: 18%;
	font-size: 100%;
}

.help-ask-submit {
	cursor: pointer;
	height: 12%;
	width: 9.5%;
	margin-left: 5%;
	margin-bottom: 10px;
    vertical-align: bottom;
    display: inline-block;
}


.help-ask-lower-container {
	background: url("../../img/backg.png");
	position: relative;
	height: 650px;
	width: 850px;
	box-shadow: 0 0 30px 2px #222;
	-moz-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
}

.help-ask-lower-title {
	width: 100%;
	height: 70px;
}

.help-ask-alternative-title {
	width: 30%;
	color: #A0A0A0;
	font-size: 40px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: bottom;
    display: inline-block;
}

.help-ask-gender {
	width: 20%;	
	color: #A0A0A0;
	cursor: pointer;
	vertical-align: bottom;
    display: inline-block;
}

.help-ask-secondaryContainer {
	position: absolute;
	top: 80px;
	bottom: 0;
	height: 560px;
	width: 100%;
	overflow: auto;
}

.help-ask-secondaryContainer > div {
	float: left;
	width: 400px;
	margin-right: 15px;
	height: 100px;
}