#help-upper-container {
	float: left;
	width: 80%;
	height: 40%;
	margin-left: 10%;
}

#header {
	width: 100%;
	height: 15%;
}

#help-title {
	float: left;
	color: #FFFFFF;
	height: 100%;
	font-size: 40px;
}

#help-catContainer {
	margin-right: 10px;
	float: right;
}

#help-catContainer img {
	height: 100%;
	cursor: pointer;
}

#help-createContainer {
	height: 50%;
	width: 40%;
	margin-left: 8%;
	margin-top: 3%;
	background-color: #DCDCDC;
    vertical-align: bottom;
    display: inline-block;
    padding: 10px;
}

.help-row {
	width: 100%;
	height: 20%;
	margin-bottom: 2%;
}

.help-row p {
	float: left;
	margin: 0;
}

#help-input-location {
	float: left;
	border: 1px solid #A6A6A6;
	margin-left: 10px;
	margin-right: 10px;
	width: 70%;
	cursor: pointer;
	background-color: #FFFFFF;
}

#help-input-content {
	width: 80%;
	margin-right: 10px;
}

#help-input-datePicker {
	width: 40%;
}

#help-input-gender {
	width: 20%;
}

#help-input-price {
	width: 10%;
}

#help-submit {
	background-color: #00FF00;
	cursor: pointer;
	height: 12%;
	width: 25%;
	margin-left: 10%;
    vertical-align: bottom;
    display: inline-block;
    padding: 5px;
}

#help-submit div {
	float: left;
	height: 100%;
	color: #FFFFFF;
	font-size: 30px;
	padding-left: 10px;
}

#help-submit img {
	float: right;
	height: 100%;
}

#help-lower-container {
	position: relative;
	float: left;
	height: 60%;
	width: 80%;
	margin-left: 10%;
	background-color: #CCCC66;
}

#help-lower-title {
	width: 100%;
	height: 20%;
}

#help-alternative-title {
	width: 20%;
	color: #0099CC;
	font-size: 40px;
	margin-top: 10px;
	margin-left: 10px;
	vertical-align: bottom;
    display: inline-block;
}

#help-gender-female {
	width: 20%;	
	color: #0099CC;
	cursor: pointer;
	vertical-align: bottom;
    display: inline-block;
}

#help-gender-male {
	width: 20%;	
	color: #0099CC;
	cursor: pointer;
	vertical-align: bottom;
    display: inline-block;	
}

#help-gender-dontCare {
	width: 20%;	
	color: #0099CC;
	cursor: pointer;
	vertical-align: bottom;
    display: inline-block;	
}

#help-info {
	position: absolute;
	top: 20%;
	bottom: 0;
	height: 80%;
	width: 100%;
	overflow: auto;
}

#help-info > div {
	float: left;
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: 20%;
}