body {
	width: 100%;
	height: 100%;
	background-color: rgb(70,130,217);
}

.headerFooterImage {
	height: 100px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#headerCatImage {
	float: left;
	padding-top: 20px;
	height: 50px;
	width: 50px;
}

#headerWordImage {
	padding-top: 50px;
	height: 50px;
	width: 150px;
}

#footerImage {
	background: url('../../asset/footer.jpg');
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: contain;
}

/* Selection Part */

#main-selection {
	width: 800px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

/* Left Box Selection */

#main-left-box {
	float: left;
	margin-top: 50px;
	padding-top: 10px;
	width: 400px;
	height: 150px;
	background-color: #DCDCDC;
}

.main-input-box {
	position: relative;
	display: table;
	width: 360px;
	height: 30px;
	margin-top: 10px;
	background-color: #FFFFFF;
	border: 1px solid #808080;
	margin-left: auto;
	margin-right: auto;
}

.location-pin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 8%;
}

.main-input-box-filter {
	width: 90%;
	font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

#main-input-city {
	cursor: pointer;
}

#main-input-university {
	cursor: pointer;
}

#datePicker {
	float: right;
	height: 100%;
	width: 90%;
	border: 0px;
	font-size: 18px;
}

/* end of Left Box Selection */

/* Right Side Box Selection				 */

#main-right-box {
	float: left;
	margin-top: 70px;
	margin-left: 50px;
	width: 350px;
	height: 150px;
}	

.main-help-me-others-find {
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	background-color: #00FF00;
	display: table;
	cursor: pointer;
}

.main-help-me-others-find div {
	width: 70%;
	font-size: 20px;
  	display: table-cell; 
  	vertical-align: middle;
  	padding-left: 10px;
  	color: #FFFFFF;
}

.main-help-me-others-find img {
	height: 100%;
	float: right;
}

#main-info-search {
	text-shadow: 10px 10px 10px #000;
	color: #D3D3D3;
	cursor: pointer;
}

#main-info-search:hover {
	color: #0000CD;
}

/* end of Right Side Box Selection 			 */

#main-selected {
	height: 400px;
	width: 1000px;
	background-color: #B0C4DE;
}


#main-left-selected {
	float: left;
	position: relative;
	height: 400px;
	width: 600px;
	padding-left: 10px;
}

#main-recent {
	color: #4169E1;
	padding-top: 10px;
}

#main-info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 40px;
	margin-bottom: 10px;
}

/* End of selected of left side */

/* right side selected */

#main-right-selected {
	float: right;
	width: 350px;
	height: 400px;
	margin-right: 10px;
}

#main-right-selected img {
	background-color: #000;
	width: 350px;
	height: 380px;
	margin-top: 10px;
}



