
#body {
	
}

#main-full-width {
	
}

/* Selection Part */

#main-selection {
	
	
}

/* Left Box Selection */

#main-left-box {
	
}

.main-input-box {
	
}				
	

#main-city {
	
}

#main-university {
	
}

#main-date {
	
}

/* end of Left Box Selection */

/* Right Side Box Selection				 */

#main-right-box {
	
}	

.main-botton {
	
}	

#main-help-me-find {

}

#main-help-me-word {
	`
}

#main-help-me-icon {
	background-image: ;
	background-repeat: no-repeat;
	position: relative;	
}		

#main-help-others {
	
}

#main-help-others-word {

}

#main-help-others-icon {
	background-image: ;
	background-repeat: no-repeat;
	position: relative;	
}


.main-subtitle {
	
}

.main-subtitle:hover {
	
}


#main-find-info {

}


/* end of Right Side Box Selection 			 */

#main-selected {

}


#main-left-selected {
	
}

#main-recent {
	font-family: ;
	font-size: ;
}

.main-info {
	
}

.main-info:hover {
	
}


#main-info {
	
}

/* End of selected of left side */

#main-right-selected {
	
}

/* right side selected */



#main-downward {
	
}
