#full-width {
	
}

#body {
	
}


/* Selection Part */

#selection {
	
	
}

/* Left Box Selection */

#left-box {
	
}

.left.box {
	
}				
	

#city {
	
}

#university {
	
}

#date {
	
}

/* end of Left Box Selection */

/* Right Side Box Selection				 */

#right-side {
	
}	

.botton {
	
}	

#help-me-word {
	`
}

#help-me-icon {
	background-image: ;
	background-repeat: no-repeat;
	position: relative;	
}					

.subtitle {
	
}

.subtitle:hover {
	
}

#help-others {
	
}

#find-info {

}


/* end of Right Side Box Selection 			 */

#left-selected {
	
}

#recent {
	font-family: ;
	font-size: ;
}

.info {
	
}

.info:hover {
	
}


#info {
	
}

#more {
	
}	

#more:hover{
	
}		

/* End of selected of left side */

/* right side selected */



#downward {
	
}
