#info-full-width {
	height: 850px;
}

#infoSearchHeader {
	width: 100%;
	height: 100px;
}

#info-title {
	float: left;
	color: #FFFFFF;
	height: 100%;
	font-size: 40px;
}

#info-cat {
	margin-right: 10px;
	float: left;
	background: url("../../img/cat.png");
	height: 50px;
	width: 50px;
	background-size: contain;
	cursor: pointer;
}

#info-cat:hover {
	background: url("../../img/cathover.png");
	-webkit-transition: ease .2s;
	background-size: contain;
}


#info-info {
	position: absolute;
	height: 650px;
	width: 850px;
	background: url("../../img/backg.png");
	overflow: auto;
	-moz-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
}

#info-info > div {
	float: left;
	width: 420px;
	height: 100px;
}