#info-full-width {
	position: relative;
}

#infoSearchHeader {
	width: 850px;
	height: 100px;
	display: table;
}

#infoSearchHeader > div {
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
}

#infoSearchHeader img {
	height: 100%;
	float: right;
	cursor: pointer;
}


#info-info {
	position: absolute;
	height: 650px;
	width: 100%;
	background: url("../../img/backg.png");
	overflow: auto;
}

#info-info > div {
	float: left;
	width: 375px;
	margin-left: 25px;
	margin-right: 25px;
	height: 100px;
}

#info-info > hr {
	float: left;
	width: 375px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 5px;
	margin-bottom: 0;
}