#info-full-width {
	position: relative;
}

#infoSearchHeader {
	width: 1000px;
	height: 100px;
	display: table;
}

#infoSearchHeader > div {
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
}

#infoSearchHeader img {
	height: 100%;
	float: right;
	cursor: pointer;
}


#info-info {
	position: absolute;
	height: 650px;
	width: 100%;
	background-color: #FFCC33;
	overflow: auto;
}

#info-info > div {
	float: left;
	width: 450px;
	margin-left: 25px;
	margin-right: 25px;
	height: 100px;
}