.singleSearchResult {
	padding-left: 5px;
	height: 25%;
	cursor: pointer;
}

.searchResultImgSrc {
	float: left;
	height: 100%;
	/*padding-top: 9px;
	padding-left: 9px;
	width: 70px;
	height: 70px;*/
}

.searchResultInfoContainer {
	float: left;
	height: 100%;
	width: auto;
}

.searchResultLocation {
	padding-top: 5%;
	padding-left: 5%;
	height: 30%;
	width: 100%;
}

.searchResultWindow {
	padding-left: 5%;
	height: 30%;
	width: 100%;
}

.searchResultType {
	margin-top: 5%;
	padding-left: 5%;
	height: 30%;
	font-size: 50%;
}

.searchResultPriceContainer {
	float: right;
	height: 100%;
}

.searchResultTotalValue {
	text-align: right;
	height: 60%;
	width: 100%;
	font-size: 250%;
	padding-top: 5%;
}

.searchResultDividedPrice {
	text-align: right;
	height: 30%;
	width: 100%;
	font-size: 50%;
}

hr {
	width: 100%;
}