.singleSearchResult {
	height: 30%;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

.searchResultImgSrc {
	float: left;
	height: 100%;
}

.searchResultInfoContainer {
	float: left;
	height: 100%;
}

.searchResultLocation {
	margin: 5px;
	color: #FFFFFF;
}

.searchResultWindow {
	margin: 5px;
	color: #FFFFFF;
}

.searchResultType {
	margin-top: 10px;
	margin-left: 5px;
	color: #FFFFFF;
	font-size: 12px;
}

.searchResultPriceContainer {
	float: right;
	height: 100%;
}

.searchResultTotalValue {
	height: 50%;
	width: 100%;
	text-align: right;
	color: #FFFFFF;
	font-size: 40px;
	padding-top: 10%;
}

.searchResultDividedPrice {
	text-align: right;
	height: 40%;
	width: 100%;
	color: #FFFFFF;
	font-size: 12px;
	margin: 0px;
}

hr {
	width: 100%;
}