.popupPanel {
	position: absolute;
    visibility: hidden;
	top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
	z-index: 2000;
	background-color: rgba(0,0,0,0.7);
}


.popUpCloseButton {
    float: right;
    background: url("../../../img/close.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-right: -10px;
    cursor: pointer;
    opacity: 0.6;
}

.popUpCloseButton:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}
