#register-modal-main {
	margin-top: 150px;
	height: 400px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	background: url("../../../img/metal.png");
	background-size: cover;
	-moz-box-shadow: 0 0 30px 5px #111;
	-webkit-box-shadow: 0 0 30px 5px #111;
	box-shadow: 0 0 30px 5px #111;
}

.register-modal-container {
	width: 80%;
	height: 35px;
	margin-left: 5%;
}

.register-modal-container-word {
	float: left;
	width: 20%;
	height: 100%;
	text-align: right;
}

.register-modal-input {
	float: left;
	margin-left: 10px;
	width: 70%;
}

#register-modal-notice {
	width: 80%;
	height: 30px;
	margin-left: 5%;
}

#register-modal-noticeContainer {
	float: right;
	text-align: right;
}

#register-modal-main hr {
	width: 100%;
}

#register-modal-submit {
	float: right;
	width: 35%;
	height: 40px;
	cursor: pointer;
	background-color: #00FF00;
	margin-right: 10px;
	display: table;
}

#register-modal-submit p {
	margin: 0;
	color: #FFFFFF;
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#register-modal-submit img {
	float: right;
	height: 100%;
}