#enterInfoSearch-modal-main {
	margin-top: 150px;
	height: 240px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #CCCCCC;
	-moz-box-shadow: 0 0 30px 5px #111;
	-webkit-box-shadow: 0 0 30px 5px #111;
	box-shadow: 0 0 30px 5px #111;
}

.infoSearch-modal-container {
	display: table;
	width: 300px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#enterInfoSearch-modal-emailContainer {
	padding-top: 20px;
	padding-left: 35px;
}

.infoSearch-modal-container-word {
	float: left;
}

.infoSearch-modal-input {
	display: table-cell;
	vertical-align: middle;
	float: right;
	width: 80%;
	height: 100%;
}

#modal-noticeContainer {
	float: right;
	text-align: right;
	padding-right: 50px;
	font-size: 10px;
	width: 100%;
}

#enterInfoSearch-modal-submit {
	margin-top: 10px;
	float: right;
	width: 150px;
	height: 30px;
	cursor: pointer;
	background-color: #00FF00;
	margin-right: 10px;
	display: table;
}

#enterInfoSearch-modal-submit p {
	margin: 0;
	color: #FFFFFF;
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#enterInfoSearch-modal-submit img {
	float: right;
	height: 100%;
}