#detail-modal-main {
	height: 600px;
	width: 800px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #CCCCCC;
	-moz-box-shadow: 0 0 30px 5px #111;
	-webkit-box-shadow: 0 0 30px 5px #111;
	box-shadow: 0 0 30px 5px #111;
}

#detail-modal-upperContainer {
	height: 40%;
	width: 100%;
}

.edit-line {
	width: 100%;
	margin-bottom: 10px;
	padding-left: 10%;
	display: table;
	position: relative;
}

.edit-line-label {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
}

.edit-line input {
	width: 60%;
}

#detail-modal-upperLeftContainer {
	float: left;
	height: 100%;
	width: 50%;
}

#detail-modal-notice {
	width: 70%;
	text-align: right;
	font-size: 10px;
}

#detail-modal-emailContainer {
	margin-top: 5%;
}

#detail-modal-upperRightContainer {
	float: left;
	height: 100%;
	width: 45%;
}

#detail-modal-priceContainer {
	margin-top: 5%;
}

#detail-modal-lowerContainer {
	height: 60%;
	width: 100%;
}

#detail-modal-contentTitle {
	width: 100%;
	height: 10%;
	margin-left: 10%;
}

#detail-modal-content {
	width: 80%;
	height: 60%;
	margin-left: 10%;
	resize: none;
}

#edit-bottom-button {
	width: 100%;
	height: 30%;
	margin-top: 10px;
}

#detail-modal-deleteButton {
	float: left;
	height: 50%;
	width: 30%;
	margin-left: 10px;
	background-color: red;
	display: table;
	cursor: pointer;
}

#detail-modal-deleteButton div {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 40px;
	text-align: right;
	padding-right: 10px;
} 

#detail-modal-submitButton {
	float: right;
	height: 50%;
	width: 30%;
	margin-right: 10px;
	background-color: green;
	display: table;
	cursor: pointer;
}

#detail-modal-submitButton div {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 40px;
	text-align: left;
	padding-left: 10px;
}

#detail-modal-submitButton img {
	float: right;
	height: 100%;
}