<div id = "detail-full-width" class = "full-width">

	<div id = "detail-upper-container" class = "upper-container">

		<div id = "detail-title">
			<div><p id = "detail-date"></p><p>在</p><p id = "detail-location"></p><p id = "detail-type"></p></div>
			<img id = "detail-cat" src = "img/cat.png" alt="cat.png"/>
		</div>

		<div id = "detail-upper-content">

			<img id = "detail-schoolLogo" src= "img/school.png"/>
			<div id = "calendar-holder"><div id = "calendar"></div></div>

			<div id = "detail-price-sex">

				<div id = "detail-priceContainer">
					<p id = "detail-totalPrice">&yen;<%= price %></p>
					<p id = "detail-dividedPrice"></p>
        		</div>
        		<img id = "detail-sex" src = "img/sex<%= gender %>.png"/>

        	</div>

   		</div>

	</div>

	<div id = "detail-middle-container"></div>

	<div id = "detail-lower-container" class = "lower-container">

		<div id = "detail-lower-title">
			<p>详细信息</p>
			<div id = "detail-submit-button" class="shadowBox roundBox">
				<p>编辑信息</P><img src="asset/铅笔.png" alt="铅笔.png"/>
			</div>
		</div>

		<div id = "detail-lower-content">
			<div id = "detail-contactInfoContainer">
				<p id = "detail-contactInfo-email">Email: <%= email %></p>
				<p id = "detail-contactInfo-phone">电话: <%= phone %></p>
				<p id = "detail-contactInfo-qq">QQ: <%= qq %></p>
				<p id = "detail-contactInfo-twitter">微博: <%= twitter %></p>
				<p id = "detail-contactInfo-selfDefined">自定义: <%= selfDefined %></p>
			</div>
			<div id = "detail-content">
				<%= content %>
			</div>
			<div id = "detail-submitContainer">
				<div id = "detail-submit-passwordContainer" class="shadowBox roundBox">
					<input id = "detail-submit-password" placeholder="在此输入密码"/>
					<div id = "detail-submit-password-button">提交</div>
				</div>
				<div id = "detail-submit-errorContainer" class="shadowBox roundBox">
					<p id = "detail-submit-error"></p>
				</div>
			</div>
		</div>

	</div>

</div>