<div class="backgroundImage"></div>
<div id = "detail-full-width" class = "full-width">

	<div class="headerImage"></div>

	<div id = "detail-upper-container" class = "upper-container">

		<div id = "detail-title">
			<div id = "detail-cat" alt="cat.png"></div>
			<div id = "detail-titleContent"><p>我想于</p><p id = "detail-date"></p><p>在</p><p id = "detail-location"></p><p id = "detail-type"></p></div>
		</div>

		<div id = "detail-upper-content">

			<div id = "detail-schoolLogoContainer"><div id = "detail-schoolLogo"></div></div>
			<div id = "calendar-holder"><div id = "calendar"></div></div>

			<div id = "detail-price-sex">

				<div id = "detail-priceContainer">
					<p id = "detail-totalPrice">&yen;<%= price %></p>
					<p id = "detail-dividedPrice"></p>
        		</div>
        		<img id = "detail-sex" src = "img/sex<%= gender %>.png"/>

        	</div>

   		</div>

	</div>

	<div id = "detail-lower-container" class = "lower-container">

		<div id = "detail-lower-title">
			<p>详细信息</p>
			<div id = "detail-submit-button">
				<p>我要编辑</P>
			</div>
		</div>

		<div id = "detail-lower-content">
			<div id = "detail-contactInfoContainer">
				<p id = "detail-contactInfo-emailTitle">Email: </p>
				<p id = "detail-contactInfo-email" class = "detail-contactInfo-entry"><%= email %></p>
				<p id = "detail-contactInfo-phoneTitle">电话: </p>
				<p id = "detail-contactInfo-phone" class = "detail-contactInfo-entry"><%= phone %></p>
				<p id = "detail-contactInfo-qqTitle">QQ: </p>
				<p id = "detail-contactInfo-qq" class = "detail-contactInfo-entry"><%= qq %></p>
				<p id = "detail-contactInfo-twitterTitle">微博: </p>
				<p id = "detail-contactInfo-twitter" class = "detail-contactInfo-entry"><%= twitter %></p>
				<p id = "detail-contactInfo-selfDefinedTitle">自定义: </p>
				<p id = "detail-contactInfo-selfDefined" class = "detail-contactInfo-entry"><%= selfDefined %></p>
			</div>
			<div id = "detail-content">
				<pre><%= content %></pre>
			</div>
			<div id = "detail-submitContainer">
				<div id = "detail-submit-passwordContainer" class="shadowBox roundBox">
					<input id = "detail-submit-password" type = "password" placeholder="在此输入密码"/>
					<div id = "detail-submit-password-button">提交</div>
				</div>
				<div id = "detail-submit-errorContainer" class="shadowBox roundBox">
					<p id = "detail-submit-error"></p>
				</div>
			</div>
		</div>

	</div>

	<div class="gradi"></div>

</div>