<div id = "detail-modal-main">
	<div id = "detail-modal-closeButton" class = "modal-close">X</div>

	<div id = "detail-modal-upperContainer">

		<div id = "detail-modal-upperLeftContainer">

			<div id = "detail-modal-emailContainer" class = "modal-container">
				<div id = "detail-modal-emailWord" class = "detail-modal-word">Email</div>
				<input id = "detail-modal-email" class = "modal-input" value = "<%= email %>"/>
			</div>

			<div id = "detail-modal-phoneContainer" class = "modal-container">
				<div id = "detail-modal-phoneWord" class = "detail-modal-word">电话</div>
				<input id = "detail-modal-phone" class = "modal-input" value = "<%= phone %>"/>
			</div>


			<div id = "detail-modal-qqContainer" class = "modal-container">
				<div id = "detail-modal-qqWord" class = "detail-modal-word">QQ</div>
				<input id = "detail-modal-qq" class = "modal-input" value = "<%= qq %>"/>
			</div>

			<div id = "detail-modal-twitterContainer" class = "modal-container">
				<div id = "detail-modal-twitterWord" class = "detail-modal-word">微博</div>
				<input id = "detail-modal-twitter" class = "modal-input" value = "<%= twitter %>"/>
			</div>


			<div id = "detail-modal-selfDefinedContainer" class = "modal-container">
				<div id = "detail-modal-selfDefinedWord" class = "detail-modal-word">自定义</div>
				<input id = "detail-modal-selfDefined" class = "modal-input" value = "<%= selfDefined %>"/>
			</div>

			<div class = 'modal-noticeContainer' id = 'detail-modal-noticeContainer'>
				<p class = 'modal-notice' id = 'detail-modal-notice'>请至少填写一项</p>
			</div>

		</div>

		<div id = "detail-modal-upperRightContainer">
			<div id = "detail-modal-priceContainer" class = "modal-container">
				<div id = "detail-modal-priceWord" class = "detail-modal-word">价格</div>
				<input id = "detail-modal-price" class = "modal-input" value = "<%= price %>"/>
			</div>

			<div id = "detail-modal-cityContainer" class = "modal-container">
				<div id = "detail-modal-cityWord" class = "detail-modal-word">城市</div>
				<p id = "detail-modal-city" class = "modal-input"></p>
			</div>


			<div id = "detail-modal-universityContainer" class = "modal-container">
				<div id = "detail-modal-universityWord" class = "detail-modal-word">大学</div>
				<p id = "detail-modal-university" class = "modal-input"></p>
			</div>

			<div id = "detail-modal-courseLengthInMinutesContainer" class = "modal-container" style = "display:none;">
				<div id = "detail-modal-courseLengthInMinutesWord" class = "detail-modal-word">课时</div>
				<input id = "detail-modal-courseLengthInMinutes" class = "modal-input" value = "<%= courseLengthInMinutes %>"/>
			</div>


			<div id = "detail-modal-datePickerContainer" class = "modal-container">
				<div id = "detail-modal-datePickerWord" class = "detail-modal-word">日期</div>
				<input id = "detail-modal-datePicker" class = "modal-input"/>
			</div>

			<div id = "detail-modal-endDatePickerContainer" class = "modal-container" style = "display:none;">
				<div id = "detail-modal-endDatePickerWord" class = "detail-modal-word">到</div>
				<input id = "detail-modal-endDatePicker" class = "modal-input"/>
			</div>

		</div>

	</div>

	<hr>

	<div id = "detail-modal-lowerContainer">
		<div id = 'detail-modal-contentTitleContainer'>
			<p id = 'detail-modal-contentTitle'>详细信息</p>
		</div>

		<div id = "detail-modal-contentContainer">
			<input id = "detail-modal-content" value = "<%= content %>"/>
		</div>

		<div id = "detail-modal-deleteButton">删除<div>
		<div id = "detail-modal-submitButton">完成啦<img src = "img/submit.png"/><div>



	</div>





</div>