<div class='popupPanel' id='editPanel'>

<div id="detail-modal-main" class='roundBox shadowBox'>
	<div id = "detail-modal-closeButton" class = "popUpCloseButton"></div>

	<div id = "detail-modal-upperContainer">

		<div id = "detail-modal-upperLeftContainer">

			<div id = "detail-modal-emailContainer" class="edit-line" >
				<div class="edit-line-label">Email</div>
				<input id = "detail-modal-email" value = "<%= email %>" placeholder = "lol@gmail.com"/>
			</div>

			<div id = "detail-modal-phoneContainer" class="edit-line">
				<div class="edit-line-label">电话</div>
				<input id = "detail-modal-phone"  value = "<%= phone %>" placeholder = "15900000000"/>
			</div>


			<div id = "detail-modal-qqContainer" class="edit-line">
				<div class="edit-line-label">QQ</div>
				<input id = "detail-modal-qq"  value = "<%= qq %>" placeholder = "100000086"/>
			</div>

			<div id = "detail-modal-twitterContainer" class="edit-line">
				<div class="edit-line-label">微博</div>
				<input id = "detail-modal-twitter"  value = "<%= twitter %>" placeholder = "@huaixuesheng"/>
			</div>

			<div id = "detail-modal-selfDefinedContainer" class="edit-line">
				<div class="edit-line-label">自定义</div>
				<input id = "detail-modal-selfDefined"  value = "<%= selfDefined %>" placeholder = "有缘会猜到我号码的"/>
			</div>

			<div class="edit-line">
				<div  id = 'detail-modal-notice'>请至少填写一项</div>
			</div>
		</div>

		<div id = "detail-modal-upperRightContainer">
			<div id = "detail-modal-priceContainer" class="edit-line">
				<div class="edit-line-label">价格</div>
				<input id = "detail-modal-price"  value = "<%= price %>"/>
			</div>

			<div id = "detail-modal-cityContainer" class="edit-line">
				<div class="edit-line-label">城市</div>
				<div id = "detail-modal-city" ></div>
			</div>


			<div id = "detail-modal-universityContainer" class="edit-line">
				<div class="edit-line-label">大学</div>
				<div id = "detail-modal-university" ></div>
			</div>


			<div id = "detail-modal-datePickerContainer" class="edit-line">
				<div class="edit-line-label">日期</div>
				<input id = "detail-modal-datePicker" />
			</div>

			<!--
			<div id = "detail-modal-courseLengthInMinutesContainer" class = "modal-container" style = "display:none;">
				<div id = "detail-modal-courseLengthInMinutesWord" >课时</div>
				<input id = "detail-modal-courseLengthInMinutes" value = "<%= courseLengthInMinutes %>"/>
			</div>


			<div id = "detail-modal-endDatePickerContainer"  style = "display:none;">
				<div id = "detail-modal-endDatePickerWord" >到</div>
				<input id = "detail-modal-endDatePicker" />
			</div>
			-->
		</div>

	</div>

	<div id = "detail-modal-lowerContainer">
		<hr>
		<div id = 'detail-modal-contentTitle'>详细信息 <span id = "detail-modal-wordCount">300</span></div>
		<textarea id = "detail-modal-content"><%= content %></textarea>

		<div id="edit-bottom-button">
			<div id = "detail-modal-deleteButton" class="roundBox shadowBox"><div>删除</div></div>
			<div id = "detail-modal-submitButton" class="roundBox shadowBox"><div>完成啦</div><img src = "asset/pencil.png" alt="pencil.png"/></div>
		</div>



	</div>




</div>
</div>