<div class = "singleSearchResult" id = "<%= tpId %>">

    <img class = "searchResultImgSrc" src="img/face/<%= type %><%= gender %>.png" alt="Type-Image"/>

    <div class = "searchResultInfoContainer">
        <div class = "searchResultLocation"> </div>
        <div class = "searchResultWindow"> </div>
        <div class = "searchResultType"> </div>
    </div>

    <div class = "searchResultPriceContainer">

        <div class = "searchResultTotalValue">&yen;<%= price %></div>
        <div class = "searchResultDividedPrice"></div>

    </div>

    <!-- <hr> -->

</div>