
<div href='#<%= id %>' class = "singleSearchResult" id = "<%= id %>">
    <img class = "searchResultImgSrc" src="img/<%= type %>.png" alt="Type-Image"/>

    <div class = "searchResultInfoContainer">
        <p class = "searchResultLocation"> 1 </p>
        <p class = "searchResultWindow"> 1 </p>
        <p class = "searchResultType"> 1 </p>
    </div>

    <div class = "searchResultPriceContainer">
        <div class = "searchResultTotalPrice">

            <p class = "searchResultTotalValue"><%= price %></p>
            <p class = "searchResultCurrency">&yen;</p>

        </div>

        <p class = "searchResultDividedPrice"></p>

    </div>

</div>

<hr>