<div class = "singleSearchResult" id = "<%= tpId %>">

    <img class = "searchResultImgSrc" src="img/<%= type %>.png" alt="Type-Image"/>

    <div class = "searchResultInfoContainer">
        <p class = "searchResultLocation"> </p>
        <p class = "searchResultWindow"> </p>
        <p class = "searchResultType"> </p>
    </div>

    <div class = "searchResultPriceContainer">

        <div class = "searchResultTotalValue">&yen;<%= price %></div>
        <p class = "searchResultDividedPrice"></p>

    </div>

</div>

<hr>